<div class="row">
  <div class="col">
    <section>
     <article>
       <h3>Two-way data binding</h3>

       <div class="row">
         <div class="col-12">
           <input type="text"
           [value]="nome"
           (input)="nome = $event.target.value"
           />

           <input type="text"
           [ngModel]="nome"
           (ngModelChanger)="nome = $event"
           />

           <input type="text" [(ngModel)]="nome">

           <p>Você digitou: {{ nome }}</p>
          </div>
          <div class="col-12">
            <p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos de idade.</p>

            <input type="text23456" [(ngModel)]="pessoa.nome">
            <input type="number" [(ngModel)]="pessoa.idade">
          </div>
       </div>

      </article>
    </section>
  </div>
</div>
